@using ReceptPage.Models
@model List<ListReceptViewModel>
<html>
<body>
    <ol>
        @foreach (var item in Model)
        {
            <li>
                @Html.Partial("ReceptBoxInfo", item)
            </li>
        }
    </ol>
</body>
</html>