@model ReceptPage.Models.CreateRecipeViewModel
<!DOCTYPE html>
<html>
<head>
    <title>Create</title>
</head>
<body>
    <div id="createContent">

        <h1 id="createTitle">Show us your ideas</h1>
        <form id="formCreate" asp-controller="Home" asp-action="Create">

            <label id="lableCreate" asp-for="Name"></label>
            <br />
            <input id="txtBoxCreate" asp-for="Name" />
            <span asp-validation-for="Name"></span>
            <br />
            <br />
            <label id="lableCreate" asp-for="Age"></label>
            <br />
            <input id="txtBoxCreate" asp-for="Age" />
            <span asp-validation-for="Age"></span>
            <br />
            <br />
            <label id="lableCreate" asp-for="Email"></label>
            <br />
            <input id="txtBoxCreate" asp-for="Email" />
            <span asp-validation-for="Email"></span>
            <br />
            <br />
            <label id="lableCreate" asp-for="NameOfPlate"></label>
            <br />
            <input id="txtBoxCreate" asp-for="NameOfPlate" />
            <span asp-validation-for="NameOfPlate"></span>
            <br />
            <br />
            <label id="lableCreate" asp-for="Ingredients"></label>
            <br />
            <textarea asp-for="Ingredients" ></textarea>
            <span asp-validation-for="Ingredients"></span>
            <br />
            <br />
            <label id="lableCreate" asp-for="HowToDo"></label>
            <br />
            <textarea asp-for="HowToDo"></textarea>
            <span asp-validation-for="HowToDo"></span>
            <br />
            <br />
            <button type="submit" value="Skapa">Skapa</button>
        </form>

    </div>
</body>
</html>
