body {
}

#title {
    color: blue;
    text-align: center;
}

#content {
    width: 500px;
    height: 700px;
    margin: 0 auto;
}

#headImg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 130px;
}

#menuBar {
    margin-top: 25px;
}

#menuLink {
    margin: 10px;
    padding: 4px 7px 2px 4px;
    text-decoration: none;
    border: solid 1px;
    border-color: #e9b36c;
    color: #e9b36c;
}

    #menuLink:hover {
        background-color: #e9b36c;
        color: #ffffff;
    }

#createContent {
    background-color: antiquewhite;
    width: 450px;
    min-height: 500px;
}

#createTitle {
    text-align: center;
    font-size: 26px;
    color: #ff9200;
}

#formCreate {
    width: 450px;
}

#lableCreate {
    margin-left: 20px;
    color: #f9b134;
}

textarea {
    margin-left: 20px;
    max-width: 300px;
    min-width: 300px;
}

#txtBoxCreate {
    margin-left: 20px;
}

button {
    margin-left: 270px;
    color: #ff9200;
    background-color: #ffffff;
    border: solid 1px #ff9200;
    width: 60px;
    height: 30px;
    border-radius: 3px;
}

    button:hover {
        background-color: #ff9200;
        color: #ffffff;
    }

#receptContent {
    background-color: antiquewhite;
    width: 450px;
    min-height: 425px;
    border: solid 1px #f9b134;
    margin: 15px;
    margin-bottom: 20px;
}

#receptTitle {
    text-align: left;
    margin-left: 6px;
    font-size: 20px;
    color: #c57d00;
    text-transform: capitalize;
    border-bottom: solid 1px;
    border-bottom-right-radius: 15px;
}

#receptDisplay {
    width: 430px;
    min-height: 250px;
}

#by {
    float: left;
    color: #c57d00;
    margin-left: 6px;
}

p {
    margin-left: 20px;
    color: #f9b134;
}

#lablPublished {
    text-decoration: underline;
    font-size: 20px;
    margin-left: 6px;
    color: #c57d00;
}

#xDelete {
    float: right;
    background: #ff9200;
    color: #FFF;
    padding: 5px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #d78c26;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#editLink {
    float: right;
    padding: 5px 10px;
    margin-right: 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #ff9200;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #d78c26;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

#buttns {
    width: 155px;
    float: right;
    margin-right: 9px;
}

#imgHome {
    margin-top: 18px;
    border-radius: 10px;
}

#spara {
    float: right;
    padding: 5px 10px;
    margin-right: 8px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    background: #ff9200;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #d78c26;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
