<!DOCTYPE html>

<html>
<head>
    <link href="~/StyleSheet.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/jquery.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <h1 id="title">Våra Recept</h1>
    <div id="menuContent">
        <a id="menuLink" asp-action="/home/Index">Home</a>
        <a id="menuLink" asp-action="/home/Create">Create</a>
        <a id="menuLink" asp-action="/Recepts/Published">Recepies</a>
    </div>
    
    <div id="content">
        @RenderBody()
    </div>
    <footer>

    </footer>
</body>
</html>
