@addTagHelper "*, Microsoft.AspNet.Mvc.TagHelpers"
<html>
<head>
    <title>404 Not Found</title>
</head>
<body>
    <div id="404Div">
        <h3 id="404Heading">
            404 : Requested page not found 
        </h3>
    </div>
</body>
</html>