@model ReceptPage.Models.ListReceptViewModel
<html>
<head>

</head>
<body>
    <div>
        <p>@Model.Name</p>
        <p>@Model.Ingredients</p>
        <p>@Model.HowToDo</p>
    </div>
</body>
</html>
